.card {
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	background: #fff;
	transition: all .15s ease-in-out;
}

.card:hover {
	box-shadow: 0 2px 8px rgba(0,0,0,.09);
	transition: all .15s ease-in-out;
}

.card__header {
	height: 45px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 20px;
}

.card__extra {
	margin-left: auto;
}

.card__body {
	padding: 20px;
}

.card__body--loading {
	position: relative;
}
