.dropdown-menu {
	background: #fff;
	border-radius: 3px;
	min-width: 150px;
	padding: 5px 0;
}

.dropdown-menu__item {
	padding: 6px 12px;
	font-size: 14px;
	display: block;
	cursor: pointer;
	transition: all .15s ease-in-out;
}

.dropdown-menu__item:hover {
	color: #2185d0;
	transition: all .15s ease-in-out;
}