.page-header {
  margin-top: -20px;
  background: #fff;
  border: 1px solid #e9e9e9;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.page-header__left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-header__back-btn-wrapper {
  position: relative;
  right: 8px;
}

.page-header__title {
  margin: 0;
}

.page-header__sub-title {
  color: #7a7a7a;
  font-size: 12px;
}
