.select {
	box-sizing: border-box;
	position: relative;
}

.select__input {
	display: none;
}

.select__text {
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	padding: 12px 15px;
	display: block;
}

.select__options-wrapper {
	/*border: 1px solid #e9e9e9;*/
	border-radius: 3px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.125);
	position: absolute;
	right: 0;
	left: 0;
	overflow: scroll;
	box-sizing: border-box;
	background: #fff;
	margin-top: 2px;
	opacity: 0;
	z-index: -1;
	max-height: 0;
	transition: all .15s ease-in-out;
}

.select__options-wrapper--open {
	opacity: 1;
	z-index: 2500;
	max-height: 250px;
	transition: all .15s ease-in-out;
}

.select__option {
	padding: 6px 12px;
	transition: all .15s ease-in-out;
}

.select__option:hover {
	background: #f9f9f9;
	transition: all .15s ease-in-out;
}