.auth {
	height: 100%;
	width: 100%;
	display: flex;
}

.auth__bg {
	background: url('../../assets/postit_bg.jpg') no-repeat 100% 100%;
	background-size: cover;
	width: 50%;
	height: 100%;
}

.auth__content-wrapper {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth__form-wrapper {
	min-width: 315px;
	max-width: 400px;
}

.auth__form-header {
	margin: 0 0 20px;
}

.auth__auth-link {
	text-decoration: none;
}