.project-column {
  height: 100%;
  min-width: 24.09%;
  margin: 0 10px;
}

.project-column:first-child {
  margin-left: 0;
}

.project-column:last-child {
  margin-right: 0;
}

.project-column__card {
  height: 100%;
  overflow-y: hidden;
}

.project-column__card--dragging {
  opacity: 0.5;
}

.project-column__card .card__body {
  overflow-y: scroll;
  height: 96%;
}

.project-column__card__dropdown {
  display: flex;
  align-items: center;
  position: relative;
  right: -4px;
}

@media only screen and (max-width: 1280px) {
  .project-column {
    min-width: 32.25% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .project-column {
    min-width: 48.85% !important;
  }
}

@media only screen and (max-width: 768px) {
  .project-column {
    min-width: 99.75% !important;
  }
}
