.project {
	padding: 105px 20px 40px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.project__grid {
	height: 100%;
}

.project__card-grid {
  display: flex;
  min-width: 100%;
  height: 100%;
  overflow-x: auto;
}

.project__card-grid::-webkit-scrollbar {
  display: none;
}

.project__card {
  height: 100%;
  min-width: 23.5%;
  margin: 0 10px;
}

@media only screen and (max-width: 1280px) {
  .project__card {
    min-width: 31.25% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .project__card {
    min-width: 47% !important;
  }
}

@media only screen and (max-width: 768px) {
  .project__card {
    min-width: 95.75% !important;
  }
}
