.team-project-card {
  height: 100%;
}

.team-project-card .card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.team-project-card__title {
  margin: 0 0 4px;
  font-size: 18px;
  display: block;
}

.team-project-card__description {
  font-size: 12px;
  color: #5a5a5a;
  margin-bottom: auto;
}

.team-project-card__details-wrapper {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.team-project-card__detail {
  line-height: 20px;
}

.team-project-card__detail-label {
  margin-right: 10px;
}
